

{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'iden/css/elements/Orb_Cont.css' %}" />
{% endblock %}


<div class="Container">
    {% block Arc_Lable %}{% endblock %}
    <div id="Orbs">
        <span style="--i:13;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:22;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:11;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:17;"></span>

    </div>
    <!--<script type="text/javascript" src="{% static 'iden/js/Base.js' %}"></script>-->
</div>