{% extends 'iden/Foundation.html' %}



{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'iden/css/About.css' %}" />
{% endblock %}


{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% include 'iden/Nav_Bar.html' %}
{% block Arc_Label %}
<a href="{% url 'Main' %}" class="Arc_Label">A R C</a>
{% endblock %}
<div class="Content_Block">
    <div class="Main_Content">
        <span></span>
        <div class="content">
            <h2>Tool Box</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#">Read More</a>
        </div>
    </div>
    <div class="Main_Content">
        <span></span>
        <div class="content">
            <h2>Data Science</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </p>
            <a href="#">Read More</a>
        </div>
    </div>
    <div class="Main_Content">
        <span></span>
        <div class="content">
            <h2>Dossier</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            </p>
            <a href="#">Read More</a>
        </div>
    </div>

</div>
{% endblock %}