{% load static %}
{% block title %}
Register
{% endblock %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'iden/css/Login.css' %}" />
{% endblock %}

{% block content %}
{% include 'iden/Nav_Bar.html' %}
{% include 'iden/elements/Orb_Container.html' %}
{% block Arc_Label %}
<a href="{% url 'Main' %}" class="Arc_Label">A R C</a>
{% endblock %}
<div class="login-box">
    <h2>Login</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="user-box">
            <input type="text" name="username" required="" />
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="" />
            <label>Password</label>
        </div>
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Auth
        </button>
    </form>
</div>

{% endblock %}