{% extends 'iden/Foundation.html' %}



{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'iden/css/Main.css' %}" />
{% endblock %}



{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% include 'iden/Nav_Bar.html' %}
<div class="Container">
    <span class="Arc_Title">A R C</span>
    <div id="Orbs">
        <span style="--i:13;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:22;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:11;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:17;"></span>

    </div>
    <!--<script type="text/javascript" src="{% static 'iden/js/Base.js' %}"></script>-->
</div>
<div class="Path_Choice">
    <span class="Path_Title">Explore</span>
    <ul class="Choice_Container">
        <li>
            <a href="{% url 'About' %}" id="Stack">Stack</a>
            <a href="#" id="Synopsis">Synopsis</a>
            <a href="#" id="Secret">???</a>
        </li>
    </ul>
</div>



{% endblock %}
