{% extends 'iden/Foundation.html' %}



{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'iden/css/Main.css' %}" />
{% endblock %}



{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% include 'iden/Nav_Bar.html' %}
<div class="Container">
    <span class="Arc_Title">A R C</span>
    <div id="Orbs">
        <span style="--i:13;"></span>
        <span style="--i:16;"></span>
        <span style="--i:20;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:22;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:11;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:17;"></span>

    </div>
    <!--<script type="text/javascript" src="{% static 'iden/js/Base.js' %}"></script>-->
</div>
<div class="Path_Gallery">

    <div class="Path_Slider">
        <div class="Choice_Slide" id="Stack_Slide">
            <img src="{% static 'iden/img/Stack_Icon.png' %}" id="Stack_Ico" />
            <a href="{% url 'About' %}" class="Path_Button" id="Stack_Button">Stack</a>
        </div>
        <div class="Choice_Slide" id="Synapsis_Slide">
            <img src="{% static 'iden/img/Synapsis_Icon.png' %}" id="Synapsis_Ico" />

            <a href="{% url 'Synopsis' %}" class="Path_Button" id="Synapsis_Button">Synopsis</a>
        </div>
        {% if request.user.is_staff %}
        <div class="Choice_Slide" id="Secret_Slide">
            <img src="{% static 'iden/img/Secret_Icon.png' %}" id="Secret_Ico" />

            <a href="#Secret" class="Path_Button" id="Secret_Button">???</a>
        </div>
        {% endif%}
    </div>

</div>




{% endblock %}
