

body {
    display: flex;
    background: #0e0d0f;
/*    background: linear-gradient(0deg, rgba(2, 3, 18,1) 0%, rgba(4,31,47,1) 49%, rgba(0,0,0,1) 79%);*/
    margin: 0px;
    margin-bottom: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#Nav-Panel {
    display: flex;
    position: fixed;
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    background: rgba(2, 3, 18,0.6);
    backdrop-filter: blur(8px);
    z-index: 2;
    transition: 0.01s;
    transition-delay: 0.16s;
}

#Nav-Panel.active {
    border-bottom: 1px solid white;
    box-shadow: 0 4px 180px 3px rgb(255, 255, 255,1),-1px -1px 2px rgb(255, 255, 255,1) inset;
}

#Nav-Panel ul{
    display: flex;
    margin: 0px;

    padding: 12px 10px 10px 0px;
}

#Nav-Panel ul li {
    position: relative;
    margin-left: 12%;
}

#Nav-Panel ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background: none;
    font-family: 'N_Mach Medium',Bahnschrift;
    font-size: 28px;
    color: aliceblue;
}




.Arc_Label {
    display: flex;
    position: fixed;
    text-decoration: none;
    color: rgb(225, 255, 247);
    margin-left: 44%;
    font-family: 'N_Mach Medium',Bahnschrift;
    font-size: 45px;
    transition: 1s;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.2em rgb(151, 226, 255);
}

.Arc_Label:hover {
    display: flex;
    position: fixed;
    text-decoration: none;
    color: rgb(225, 255, 247);
    margin-left: 44%;
    font-family: 'N_Mach Medium',Bahnschrift;
    font-size: 45px;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.5em rgb(151, 226, 255);
}

.Greet_Label {
    /*White space запрещает перенос текста */
    white-space: nowrap;
    position: fixed;
    text-decoration: none;
    text-align: center;
    font-family: 'Neue Machina Medium';
    font-size: 32px;
    margin-left: 3%;
    margin-right: 77%;
    margin-top: 0.5%;
    color: aliceblue;
    text-shadow: 0.4px 0.1px 0.6px, 0 0 0.1em rgb(151, 226, 255);
    transition: 0.2s;
}

.Login-Button {
    display: flex;
    position: fixed;
    text-decoration: none;
    text-align: center;
    font-family: 'Neue Machina Medium';
    font-size: 35px;
    margin-left: 81%;
    margin-right: 1%;
    margin-top: 0.5%;
    color: aliceblue;
    text-shadow: 0.4px 0.1px 0.6px, 0 0 0.1em rgb(151, 226, 255);
    transition: 0.2s;
}


.Login-Button:hover {
    display: flex;
    position: fixed;
    text-decoration: none;
    text-align: center;
    font-family: 'Neue Machina Medium';
    font-size: 35px;
    margin-left: 81%;
    margin-right: 1%;
    margin-top: 0.5%;
    color: aliceblue;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.1em rgb(151, 226, 255);
}

.LogOut-Button {
    display: flex;
    position: fixed;
    text-decoration: none;
    text-align: center;
    font-family: 'Neue Machina Medium';
    font-size: 35px;
    margin-left: 80%;
    margin-right: 1%;
    margin-top: 0.5%;
    color: aliceblue;
    text-shadow: 0.4px 0.1px 0.6px, 0 0 0.1em rgb(151, 226, 255);
    transition: 0.2s;
}


.LogOut-Button:hover {
    display: flex;
    position: fixed;
    text-decoration: none;
    text-align: center;
    font-family: 'Neue Machina Medium';
    font-size: 35px;
    margin-left: 80%;
    margin-right: 1%;
    margin-top: 0.5%;
    color: aliceblue;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.1em rgb(151, 226, 255);
}


#toggle {
    position: fixed;
    display: block;
    height: 30px;
    width: 70px;
    margin-left: 93%;
    margin-top: 1.2%;
    border-radius: 45px;
    border: 1px solid white;
    background: #141415;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(255, 255, 255,1),0 0 2px rgb(255, 255, 255,1) inset;
}

#toggle .indicator
{
    position:absolute;
    top: -2.5px;
    left: -5px;
    width: 30px;
    height: 30px;
    background: #000000;
    border-radius: 50%;
    border: 2.1px solid;
    border-color: rgb(0, 255, 227);
    transform: scale(0.9);
    box-shadow: 0 0 10px rgb(0, 255, 227),
                inset 0 0 5px rgba(0, 255, 227,0.2),
                inset 0 0 5px rgba(0, 255, 227,0.2);
    transition: 0.5s;
}

#toggle.active .indicator
{
    left: 40px;
}


