body {
/*    display: flex;*/
    background: #0e0d0f;
    background: linear-gradient(0deg, rgba(2, 3, 18,1) 0%, rgba(4,31,47,1) 49%, rgba(0,0,0,1) 79%);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

#Orbs {
    position: relative;
    display: flex;
    height: 50%;
}

    #Orbs span {
        position: relative;
        height: 20px;
        width: 30px;
        margin: 0 5%;
        animation: animate 8s linear infinite;
        animation-duration: calc(170s / var(--i));
        background: #000000;
        border-radius: 50%;
        border: 2.1px solid;
        border-color: rgb(0, 255, 227);
        box-shadow: 0 0 10px 0px rgb(0, 255, 227), inset 0 0 5px rgba(0, 255, 227,0.2), inset 0 0 5px rgba(0, 255, 227,0.2);
    }
#Orbs span:nth-child(even) {
    background: #000000;
    border-radius: 50%;
    border: 2.1px solid;
    border-color: rgb(0, 255, 227);
    box-shadow: 0 0 10px #cc75ff, inset 0 0 5px rgb(0, 96, 255,0.2), inset 0 0 5px rgb(255, 108, 245,0.2);
}
@keyframes animate
{
    0%
    {
        transform: translateY(50vh) scale(0);
    }
    100%
    {
        transform : translateY(-10vh) scale(1);
        box-shadow: 0 0 25px 5px rgb(0, 255, 227), inset 0 0 5px rgba(0, 255, 227,0.2), inset 0 0 5px rgba(0, 255, 227,0.2);
    }
}

.Arc_Title {
    display: flex;
    position: absolute;
    text-decoration: none;
    color: rgb(225, 255, 247);
    margin-top: 13%;
    margin-left: 43%;
    font-family: 'N_Mach Medium',Bahnschrift;
    font-size: 85px;
    transition: 1s;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.2em rgb(151, 226, 255);
    z-index: 2;
}

    .Arc_Title:hover {
        display: flex;
        position: absolute;
        text-decoration: none;
        color: rgb(225, 255, 247);
        margin-top: 13%;
        margin-left: 43%;
        font-family: 'N_Mach Medium',Bahnschrift;
        font-size: 85px;
        text-shadow: 0.7px 0.4px 1px, 0 0 0.5em rgb(151, 226, 255);
    }


.Path_Choice {
    position: absolute;
    display: flex;
    margin: 27% 4% 10% 6%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
    width: 170vh;
    height: 40vh;
/*    box-shadow: 0 0 10px  rgb(255, 255, 255), inset 0 0 5px rgba(0, 255, 227,0.2), inset 0 0 5px rgba(0, 255, 227,0.2);*/
}

.Path_Title {
    white-space: nowrap;
    display: flex;
    position: absolute;
    text-decoration: none;
    color: rgb(225, 255, 247);
    margin-top: 2%;
    margin-left: 35%;
    font-family: 'N_Mach Medium',Bahnschrift;
    font-size: 60px;
    transition: 1s;
    text-shadow: 0.7px 0.4px 1px, 0 0 0.2em rgb(151, 226, 255);
    z-index: 2;
}